@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: rgb(36, 62, 99);
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

section {
    padding: 0 32px;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

img {
    width: 100%;
    height: 100%;
}

.container {
    padding: 96px 0;
}

a {
    display: inline;
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
 
/* Navigation */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    align-items: center;
    padding-bottom: 4px;
    margin: 8px 0;
}

.nav__logo--img {
    width: 40px;
    height: 40px;
}

.nav__logo--title {
    font-size: 24px;
    font-weight: 900;
    margin-left: 12px;
    letter-spacing: 0.6px;
    padding-bottom: 2px;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    position: relative;
    border-bottom: 2px solid transparent;
    transition: 300ms;
    margin: 0 24px;
}

.nav__link::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -6px;
    height: 2px;
    width: 100%;
    opacity: 0;
    background: rgb(100, 21, 255);
    transition: 300ms;
}

.login {
    margin-left: 48px;
}

.nav__link--primary {
    color: rgb(255, 255, 255);
    line-height: 1.5;
    width: auto;
    margin: 2px 0px 0px;
    padding: 10px 32px;
    border-radius: 9999px;
    background: rgb(100, 21, 255);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    transition: 300ms;
}

.nav__link:hover {
    text-decoration: underline;
    color: #6415ff;
}

.nav__link--primary:hover {
    text-decoration: none;
}

.btn__menu {
    visibility: hidden;
}

/* LANDING*/

.header__description {
    width: 41.6667%;
}

header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.purple {
    color: #6415ff;
}

h1 {
    color: black;
    line-height: 1.25;
    font-size: 48px;
}

.header__description--para {
    margin: 32px 0;
}
.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms;
}

.header__customer--title {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6px;
}

.header__customers {
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
}

.header__img--wrapper {
    width: calc(100% -  41.6667%);
}

.header__img {
    width: 100%;
    max-width: 768px;
}

/* FEATURES */

#features {
    position: relative;
}

.section__tag {
    color: #6415ff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.6px;
}

.feature__img {
    width: 24px;
    height: 24px;
}

.row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
} 

.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
}

.section__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}

#features .section__para {
    max-width: 576px;
    text-align: center;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.feature {
    width: calc(100% / 3);
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}

.feature__row {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
}

.feature__text {
    margin: 8px 0 0 16px;
}

.feature__para {
    font-size: 16px;
    margin-top: 16px;
    color: rgb(124, 139, 161);
    line-height: 2;
    font-weight: 500;
    max-width: calc(634px / 3);
}

.features__blob {
    position: absolute;
    transform: translateX(96px) translateY(192px) scaleX(1);
    right: 0px;
    bottom: 0px;
    width: 16rem;
    opacity: .25;
    padding: 16px;
}

/* Quality */

.btn {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    background: #6415ff;
    color: #fff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms;
}

.quality__img--wrapper {
    border-radius: 4px;
    border: 1px solid rgb(229, 231, 235);
    position: relative;
    margin: 0 56px;
    z-index: 2;
    display: flex;
}

.quality__img {
    z-index: 1;
}

.quality__grid {
    transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    fill: rgb(100,21,255);
    --tw-text-opacity: 1;
    color: rgba(100,21,255,var(--tw-text-opacity));
    z-index: 0;
    display: block;
}

.quality__img--wrapper,
.quality__description {
    width: 50%;
}

.quality__description {
    max-width: 576px;
    margin-right: 64px;
}

#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Steps*/

.steps__img--wrapper {
    display: flex;
    position: relative;
}

.steps__img--wrapper,
.steps__description {
    width: 50%;
}

.steps__img {
    z-index: 2;
}

.steps__grid {
    position: absolute;
    opacity: 0.15;
    right: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(50%) scaleX(1) scaleY(1);
    width: 80px;
    height: 80px;
    fill: rgba(100,21,255);
    z-index: 1;
}

.step {
    display: flex;
    color: #243e63;
    margin: 32px;
    align-items: flex-start;
    font-size: 16px;
}

.step__number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}

.step__title {
    font-size: 20px;
    font-weight: 600;
    color: #243e63;
    line-height: 1;
}

.step__para {
    color: #718096;
    font-size: 14px;
    font-weight: 500;
    line-height: 2;
    margin-top: 12px;
}

#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.steps__description {
    padding: 32px 0;
    padding-left: 64px;
}

/* Values */

.values__description {
    padding: 32px 64px 32px 0;
}

.values__description,
.values__img {
    width: 50%;
}

.value__img--wrapper {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.value__img--wrapper {
    width: 36px;
    height: 36px;
}

.value:nth-child(1)
.value__img--wrapper  {
    background-color: #9ae6b4;
}

.value:nth-child(2)
.value__img--wrapper {
    background-color: #feb2b2;
}

.value__img {
    width: 20px;
    height: 20px;
}

.values__list {
    display: flex;
}

.value:nth-of-type(1) {
    margin-top: 32px;
    margin-right: 32px;
}

.value:nth-child(2) {
    margin-top: 32px;
}

.value__title {
    display: flex;
    align-items: center;
}

.value__name {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
}

.value__para {
    margin-top: 16px;
    line-height: 1.625;
    color: #718096;
}
 #values .btn {
    margin-top: 48px;
 }

 #values .row {
    display: flex;
 }

 /* Pricing */

 .

 